p{color:blueviolet;
    }
    h3{
        color: rgb(0, 225, 255);
    }
    u1{color: rgb(165, 42, 118);
    
    }
    h1{color: rgb(195, 0, 255);

    }
    h2{
        color: rgb(240, 250, 255);
    }